body
{
    background-size: cover;
}
.note
{
    font-size: 15px;
    color: black;
}
.heading
{
    font-size: 23px;
    width: 100%;
}
canvas
{
    border:5px solid white;
    border-radius:20px;
    margin-top: 55px;
}